body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-size: 100%;
    word-spacing: 15px;
    background-position: center;
    background-color: darkred;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    color: powderblue;
    letter-spacing: 5px;
}

li :hover{
    font-size: 100%;
    color: lawngreen;
    font-family: 'Times New Roman', Times, serif;
}
