body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-display: center;
    background-image: url(./tunnel.jpg);
    background-size: 100%;
    word-spacing: 15px;
    background-position: center;
    color: orangered;

}

h1 {
    font-family: arial;
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    color: blue;
    letter-spacing: -5px;
}

li :hover{
    font-size: 100%;
    color: rgb(42, 12, 212);
    font-family: initial;
}
