body {
    background-image: url(./skydive.png);
    background-size: 50%;
    background-blend-mode: difference;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif'

    

}